<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- users_mapper.xml -->
<mapper namespace="co.team.admin.service.impl.AdminMapper">

<!-- ADMIN select 리스트 -->
	<select id="getAdmin" resultType="adminVO" parameterType="adminVO">
		select *
		from ADMIN

	</select>
	
	

	
	
<!-- 회원가입 -->	
	<insert id="insertAdmin" parameterType="adminVO">
		insert into ADMIN(id, password) values
		(
		#{id},
		#{password}
		)
				
	</insert>
	
		<insert id="addOwnerMember" parameterType="adminVO">
		insert into ADMIN(id, password, name, phone_number, zipcode, 
							address, address_detail, fitness_name) values
		(
		#{id},
		#{password}, 
		#{name},
		#{phone_number},
		#{zipcode},
		#{address},
		#{address_detail},
		#{fitness_name}
	
		)
				
	</insert>
	
	<select id="getOwnerId" resultType="string" parameterType="adminVO">
	select * from admin where id=#{id}
	</select>
	
</mapper>
