<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="co.team.food.service.impl.FoodMapper_kdh">
 
 <!-- Food 전체 리스트 -->
 	<select id="getSearchFood" resultType="FoodVO" parameterType="FoodVO">
 		select *
		from ff_user
 	</select>
 
  <!-- 회원 단건 조회 -->
 	<select id="getFood" resultType="FoodVO" parameterType="FoodVO">
 		select u.*, w.*
		from ff_user u, user_weight w
		where u.id = w.user_id
		and u.id = #{id}
 	</select>
 	
 	<!-- Food 식단 권장량 조회(= 각 회원 기준 권장 칼로리)-->
 	<select id="getRecommendFood" resultType="FoodVO" parameterType="FoodVO">
 		select u.id, u.name, u.age, u.height, w.weight
		from ff_user u, user_weight w
		where u.id = w.user_id
		and u.id = #{id}
 	</select>
 	
 	<!-- Food 식단 실제 섭취량 조회(= 각 회원 기준 총 섭취 칼로리)-->
 	<select id="getRealFood" resultType="FoodVO" parameterType="FoodVO">
 		select real_diet_no, user_id, take_date, diet_content, calorie, to_char(sysdate, 'yyyy-MM-w') as week, sysdate from real_diet
 		where user_id = #{id}
    	and to_char(take_date, 'yyyy-MM-w') = to_char(sysdate, 'yyyy-MM-w')
 	</select>
 	
	<select id="getDate" resultType="FoodVO" parameterType="FoodVO">
 		select real_diet_no, user_id, take_date, diet_content, calorie, to_char(sysdate+#{cnt}, 'yyyy-MM-w') as week
		from real_diet
		where user_id = #{id}
		and to_char(take_date, 'yyyy-MM-w') = to_char(sysdate+#{cnt}, 'yyyy-MM-w')
 	</select>
 	
 	<select id="getBeforeDate" resultType="FoodVO" parameterType="FoodVO">
 		select real_diet_no, user_id, take_date, diet_content, calorie, to_char(sysdate+#{cnt}, 'yyyy-MM-w') as week
		from real_diet
		where user_id = #{id}
		and to_char(take_date, 'yyyy-MM-w') = to_char(sysdate+#{cnt}, 'yyyy-MM-w')
 	</select>
 	
 	<!-- 추천별 식단 전체 리스트 -->
 	<select id="getAppFoodList" resultType="FoodVO" parameterType="FoodVO">
 		select diet_no, trainer_id, diet_title, diet_content, reg_date, user_id, total_calorie
		from recommended_diet
		order by diet_no
 	</select>
 	
 	<!-- 추천별 식단 단건 조회 -->
 	<select id="getAppFood" resultType="FoodVO" parameterType="FoodVO">
 		select diet_no, trainer_id, diet_title, diet_content, reg_date, user_id, total_calorie
 		from recommended_diet
 		where diet_no = #{diet_no}
 	</select>
 	
 	<!-- food_info 리스트 -->
 	<select id="getFoodList" resultType="FoodVO" parameterType="FoodVO">
 		select food_no, food_name, calorie, category, gram from food_info
 		order by food_no
 	</select>
 	
 	<!-- 추천별 식단 추가 -->
 	<insert id="insertFood" parameterType="FoodVO">
 		insert into recommended_diet (diet_no, trainer_id, diet_title, diet_content, total_calorie)
		values(food_seq.nextval, #{trainer_id}, #{diet_title}, #{diet_content}, #{total_calorie})
 	</insert>
 	
 	<!-- 추천별 식단 수정 -->
 	<update id="updateFood" parameterType="FoodVO">
 		update recommended_diet set diet_title=#{diet_title}, diet_content=#{diet_content}, total_calorie=#{total_calorie}
 		where diet_no =#{diet_no}
 	</update>
 
 </mapper>