<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="co.team.locker.service.impl.LockerMapper_kdh">
 	

<!-- LOCKER 전체 리스트 -->
 	<select id="getSearchLocker" resultType="LockerVO" parameterType="LockerVO">
			select l.lock_no, l.broken_locker, to_char(l.first_date, 'yyyy-MM-dd') first_date, to_char(l.final_date, 'yyyy-MM-dd') final_date, l.user_id, l.room_no, r.gender, l.each_lock_no, r.lock_width
			from locker l, locker_room r
			where l.room_no = r.room_no
		<if test="gender != null">
			And gender=#{gender}
			order by each_lock_no
		</if>
 	</select>
 	
<!-- LOCKER 단건 조회 -->
 	<select id="getLocker"  resultType="LockerVO" parameterType="LockerVO">
		 		select l.lock_no, l.broken_locker, to_char(l.first_date, 'yyyy-MM-dd') first_date, to_char(l.final_date, 'yyyy-MM-dd') final_date, l.user_id, l.room_no, l.each_lock_no, u.name
				from locker l, ff_user u
	 		<where>
		    	l.user_id = u.id(+)
				and lock_no = #{lock_no}		
	 		</where>
 	</select>
 	<!-- 계산 컬럼은 alias 사용하기 -->

<!-- LOCKER 회원 정보 등록 -->
	<update id="insertLocker" parameterType="LockerVO">
		update locker set first_date=#{first_date}, final_date=#{final_date}, user_id= #{user_id}
		where lock_no = #{lock_no}
	</update>

<!-- LOCKER 수정 -->
	<update id="updateLocker" parameterType="LockerVO">
		update locker set broken_locker=#{broken_locker}, first_date=#{first_date}, final_date=#{final_date}, user_id=#{user_id}, room_no=#{room_no}
		where lock_no = #{lock_no}
	</update>
<!-- LOCKER 삭제 -->
 	<update id="deleteLocker" parameterType="LockerVO">
 		update locker set first_date='', final_date='', user_id=''
		where lock_no = #{lock_no}
 	</update>



	
 </mapper>