<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 2-1 dept-mapper 동적커리 수정 부서명으로 검색 manager_id로 검색 2-2 목록: location_name}, 
	manager last_name 보이도록 수정 -->

<mapper namespace="com.java.user.service.impl.UserMapper">

	<select id="getUser" resultType="UserVO"
		parameterType="UserVO">
		SELECT ID
		,PASSWORD
		,NAME
		,ROLE
		FROM USERS
		WHERE
		ID = #{id}
	</select>

	<select id="getSearchUser" resultType="UserVO"
		parameterType="UserVO">
		SELECT ID
		,PASSWORD
		,NAME
		,ROLE
		FROM USERS
	</select>

	<insert id="insertUser" 
		parameterType="UserVO">
		INSERT INTO USERS(
		ID
		,PASSWORD
		,NAME
		,ROLE
		) VALUES(
		#{id}
		,#{password}
		,#{name}
		,#{role}
		)


	</insert>
	
	<update id="updateUser" parameterType="UserVO">
	Update users set
	<if test="password !=null and password !=''">password = #{password}</if>
	
	<if test="password !=null and password !=''">,name = #{name}</if>
	<if test="password !=null and password !=''">,role = #{role}</if>

	
	where id = #{id}
	</update>
	

	<delete id="deleteUser" parameterType="UserVO">
	DELETE FROM USERS WHERE ID	= #{id}

	</delete>

</mapper>