<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="co.team.user.service.impl.UserMapper">
 	
 	<!-- user 전체 조회 -->
 	<select id="getSearchUser" resultType="UserVO" parameterType="UserVO">
 		select * from ff_user
 	</select>
 	
 	<!-- user 단건 조회 -->
 	<select id="getUser" parameterType="UserVO" resultType="UserVO">
 		select * from ff_user
 		where id=#{id}
 	</select>
 </mapper>